<div
  class="flex flex-col gap-3 pt-[200px] justify-center items-center max-w-[600px] pb-[100px]"
>
  <h1 class="font-gothamBlack italic text-lg">Επικοινωνήστε μαζί μας!</h1>
  <p class="font-gothamLight text-sm text-center">
    Ξεκίνα δυναμικά την αποκατάσταση σου μένοντας κοντά στη προπόνηση. Επίστρεψε
    στο άθλημα σου χωρίς πόνους και δίχως να απομακρύνεσαι από τους στόχους σου.
  </p>
  <h1 class="font-gothamBlack italic text-base">Τοποθεσία: Θεσσαλονίκη</h1>
  <h1 class="font-gothamBlack italic text-base">
    Kάλεσε στο
    <a href="tel:+30-69090999099" class="text-accent underline"
      >+30-69090999099</a
    >
  </h1>
  <h1 class="font-gothamBlack italic text-base">
    Στείλε μου προσωπικό μήνυμα στα κοινωνικά δίκτυα.
  </h1>
  <div class="flex flex-row gap-3">
    <img src="../../../assets/images/facebook.svg" class="w-[40px] h-[40px]" />
    <img src="../../../assets/images/instagram.svg" class="w-[40px] h-[40px]" />
    <img src="../../../assets/images/viber.svg" class="w-[40px] h-[40px]" />
    <img src="../../../assets/images/whatsapp.svg" class="w-[40px] h-[40px]" />
  </div>
  <h1 class="font-gothamBlack italic text-base">
    Στείλε μου προσωπικό μήνυμα στο email.
  </h1>
  <div class="flex flex-col gap-3">
    <div class="flex flex-row justify-evenly gap-3">
      <input placeholder="Ονομα*" class="p-3 rounded-md" />
      <input placeholder="Email*" class="p-3 rounded-md" />
    </div>
    <textarea placeholder="Μήνυμα*" class="p-3 rounded-md"> </textarea>
    <h1 class="font-gothamBlack italic text-base text-end">
      <a href="mailto:rehabfighters@gmail.com">{{
        "rehabfighters@gmail.com"
      }}</a>
    </h1>
    <button class="p-3 bg-accent text-white rounded-md">Αποστολή</button>
  </div>
</div>
