<div class="flex flex-col items-center max-w-[800px] gap-5">
  <img
    src="../../../assets/images/about1.png"
    class="w-[300px] h-[300px] rounded-[150px]"
  />
  <h1 class="font-gothamBlack italic text-base text-center">
    Είμαι ο Άγγελος Χαλμούκης<br />Φυσικοθεραπευτής και δημιουργός του Rehab
    Fighters.
  </h1>
  <div class="flex flex-col justify-center">
    <h1 class="font-gothamBlack italic text-sm text-center">
      Η προσέγγιση του Rehab Fighters!
    </h1>
    <p class="font-gothamLight text-xs text-center">
      Με το Rehab Fighters δημιουργήσαμε για πρώτη φορά στην Ελλάδα μια
      ολοκληρωμένη φυσικοθεραπευτική προσέγγιση φτιαγμένη για αθλητές των
      μαχητικών σπορ! Από τη πρώτη στιγμή θέλουμε να ανατρέψουμε την υπάρχουσα
      κατάσταση, στην οποία επαγγελματίες υγείας (ορθοπεδικοί και
      φυσικοθεραπευτές) αντιμετωπίζουν συντηρητικά του αθλητές των μαχητικών
      σπορ, και τις περισσότερες φορές συνιστούν τη διακοπή του αθλήματος σε
      συνδυασμό με αμιγώς παθητικές θεραπείες που αδυνατούν να επαναφέρουν τους
      αθλητές στο άθλημα και νομοτελειακά τους οδηγούν στη διαιώνιση της
      κατάστασης τους. Αυτές οι προσεγγίσεις δημιουργούν μεγάλη απογοήτευση
      στους αθλητές που αφενός αποσυνδέονται από το άθλημα τους και αφετέρου δεν
      καταφέρνουν να επιστρέψουν ομαλά σε αυτό.
      <br />
      <br />
      Στο Rehab Fighters έχουμε πάθος για τα μαχητικά σπορ και κατανοούμε τις
      ιδιαίτερες απαιτήσεις αυτών των αθλημάτων. Ξέρουμε πόσο δύσκολο είναι να
      βρίσκεσαι μακριά από το άθλημα που αγαπάς, γι’ αυτό και κάνουμε ό,τι είναι
      δυνατό για να μένεις ενεργά κοντά σε αυτό. Δεν συμβιβαζόμαστε με τίποτα
      λιγότερο από την ιδανική διαχείριση για τους αθλητές μας! Γι’ αυτό, στο
      Rehab Fighters επενδύουμε στη νοοτροπία μαχητή και την ενεργητική σου.
      Προσφέρουμε πλήρως εξατομικευμένη θεραπεία και πρόγραμμα αποκατάστασης ενώ
      ταυτόχρονα παρέχουμε συνεχή υποστήριξη κατά τη διάρκεια της αποκατάστασης.
      <br /><br />
      <span class="font-gothamBlack italic"
        >Όταν λοιπόν το ζητούμενο είναι η πιο αξιόπιστη επιλογή για αποκατάσταση
        τραυματισμών στα μαχητικά αθλήματα…
      </span>
      <br /><br />
      <span class="font-gothamBlack italic">
        Η απάντηση είναι Rehab Fighters.</span
      >
    </p>
  </div>
  <div class="flex flex-col md:flex-row gap-5 justify-between">
    <div class="flex flex-col md:w-[45%] text-center md:text-end">
      <h1 class="font-gothamBlack italic text-sm relative">
        Το όραμα μου
        <img
          src="../../../../assets/images/bullet.png"
          class="hidden md:flex h-[30px] w-[30px] absolute -right-[40px] top-[5px]"
        />
      </h1>
      <p class="font-gothamLight text-xs">
        Ύστερα από χρόνια αφοσίωσης στα μαχητικά σπορ και την αποκατάσταση
        αθλητών από αυτά, ένιωσα την ισχυρή επιθυμία και την ανάγκη να προχωρήσω
        στην υλοποίηση της ιδέας του Rehab Fighters καθώς διαπίστωσα πως η
        προσέγγιση στη θεραπεία ενός τέτοιου αθλητή δε γίνεται να είναι η
        συμβατική, με τις παθητικές θεραπείες (μηχανήματα, βεντούζες, μαλάξεις
        κλπ.) και αποχή από το άθλημα, κάτι που φέρνει μεγάλη απογοήτευση στους
        αθλητές. Αλλά έχει να αναλογιστεί άλλες παραμέτρους μεταξύ των οποίων
        είναι η πραγματική ανάγκη του αθλητή να συνεχίσει ενεργά το άθλημα και
        οι ιδιαίτερες απαιτήσεις λόγω της φύσης του αθλήματος.
      </p>
    </div>

    <div
      class="flex flex-col md:w-[45%] text-center md:text-start md:justify-end"
    >
      <h1 class="font-gothamBlack italic text-sm relative">
        Η πρόκληση
        <img
          src="../../../../assets/images/bullet.png"
          class="hidden md:flex h-[30px] w-[30px] absolute -left-[40px] top-[5px]"
        />
      </h1>
      <p class="font-gothamLight text-xs">
        Η μεγαλύτερη πρόσκληση που είχα να αντιμετωπίσω για τη δημιουργία του
        Rehab Fighters ήταν το να μπορέσω να παντρέψω έναν τόσο ανορθόδοξα
        γοητευτικό τρόπο άσκησης με την ορθολογική και τεκμηριωμένη προσέγγιση
        της σύγχρονης φυσικοθεραπείας και αποκατάστασης. Και κυρίως πως θα
        μπορούσαν αυτά τα δύο να συμβαίνουν ταυτόχρονα. Κι όμως μπορούν!
      </p>
    </div>
  </div>
  <div class="flex flex-col md:flex-row gap-5">
    <div class="flex flex-col text-start gap-2">
      <h1 class="font-gothamBlack italic text-sm">Το Βιογραφικό μου</h1>
      <p class="font-gothamLight text-xs">
        Για να υποστηρίξω την ιδέα και το όραμα μου δε θα αρκούσε βέβαια μόνο
        ένας καλός σχεδιασμός. Ήταν απαραίτητο να εξειδικευθώ και να εκπαιδευθώ
        σε προχωρημένες μεθόδους θεραπείας και αποκατάστασης.
      </p>
      <ul>
        <li class="flex flex-row items-center gap-3">
          <h1 class="font-gothamBlack text-xs italic">Τίτλοι</h1>
        </li>
        <li class="flex flex-row items-center gap-3">
          <img src="../../../../assets/images/bullet.png" class="h-[15px]" />
          <h1 class="font-gothamLight text-xs italic">
            Πτυχίο φυσικοθεραπείας από το ΑΤΕΙ Θεσσαλονίκης
          </h1>
        </li>
        <li class="flex flex-row items-center gap-3">
          <img src="../../../../assets/images/bullet.png" class="h-[15px]" />
          <h1 class="font-gothamLight text-xs italic">
            CMP (Certified Mulligan Practitioner). Πιστοποιημένος θεραπευτής της
            μεθόδου Mulligan
          </h1>
        </li>
        <li class="flex flex-row items-center gap-3">
          <h1 class="font-gothamBlack text-xs italic">Εκπαιδεύσεις</h1>
        </li>
        <li class="flex flex-row items-center gap-3">
          <img src="../../../../assets/images/bullet.png" class="h-[15px]" />
          <h1 class="font-gothamLight text-xs italic">
            Ορθοπεδική Θεραπεία με Χειρισμούς (OMT)
          </h1>
        </li>
        <li class="flex flex-row items-center gap-3">
          <img src="../../../../assets/images/bullet.png" class="h-[15px]" />
          <h1 class="font-gothamLight text-xs italic">
            Mέθοδο PNF (Proprioceptive Neuromuscular Facilitation)
          </h1>
        </li>
        <li class="flex flex-row items-center gap-3">
          <img src="../../../../assets/images/bullet.png" class="h-[15px]" />
          <h1 class="font-gothamLight text-xs italic">
            Μέθοδο MDL (Manual Lymphatic Drainage).
          </h1>
        </li>
      </ul>
      <p class="font-gothamLight text-xs">
        Όλα τα παραπάνω σε συνδυασμό με την εμπειρία επί σειρά ετών στην
        αποκατάσταση αθλητών των μαχητικών σπορ και την αγάπη για αυτά,
        αποτελούν ισχυρά θεμέλια για την αντιμετώπιση κάθε μυοσκελετικού
        προβλήματος που καλείσαι να αντιμετωπίσεις.
      </p>
    </div>
    <div class="flex flex-col text-start gap-2">
      <h1 class="font-gothamBlack italic text-sm">
        Ο θεραπευτικός μου χαρακτήρας
      </h1>

      <ul>
        <li class="flex flex-row items-start gap-3">
          <img
            src="../../../../assets/images/bullet.png"
            class="h-[15px] mt-1"
          />
          <p class="font-gothamLight text-xs">
            Κυρίαρχο μέλημα μου αποτελεί η άμεση σύνδεση της θεραπείας με το
            άθλημα σου. Αυτό επιτυγχάνεται μέσα από ασκήσεις αποκατάστασης
            εμπνευσμένες από το εκάστοτε άθλημα και λεπτομερή καθοδήγηση για την
            σταδιακή και ασφαλή επανένταξη σου στο άθλημα.
          </p>
        </li>
        <li class="flex flex-row items-start gap-3">
          <img
            src="../../../../assets/images/bullet.png"
            class="h-[15px] mt-1"
          />
          <p class="font-gothamLight text-xs">
            Στις θεραπείες μου όπως και στα προγράμματα αποκατάστασης αποφεύγω
            τις περιττές θεραπευτικές παρεμβάσεις και ασκήσεις καθώς σε καμία
            περίπτωση δε θέλω να σπαταλώ αδίκως τον πολύτιμο χρόνο και τα
            χρήματα σου.
          </p>
        </li>
        <li class="flex flex-row items-start gap-3">
          <img
            src="../../../../assets/images/bullet.png"
            class="h-[15px] mt-1"
          />
          <p class="font-gothamLight text-xs">
            Επιδιώκω τα προγράμματα αποκατάστασης να είναι στοχευμένα, απλά και
            κατανοητά ούτως ώστε να μπορείς εύκολα να τα εκτελείς και στη
            συνέχεια να κάνεις ανεξάρτητα την αυτοδιαχείρηση των προβλημάτων σου
            χωρίς να εξαρτάσαι από εμένα.
          </p>
        </li>
        <li class="flex flex-row items-start gap-3">
          <img
            src="../../../../assets/images/bullet.png"
            class="h-[15px] mt-1"
          />
          <p class="font-gothamLight text-xs">
            Πάντοτε οι θεραπευτικές παρεμβάσεις που επιλέγω είναι τεκμηριωμένες
            και προκύπτουν από τα σύγχρονα ερευνητικά δεδομένα.
          </p>
        </li>
      </ul>
    </div>
  </div>
  <div class="flex flex-col md:flex-row gap-5">
    <img src="../../../assets/images/about2.png" class="w-[300px] rounded-lg" />
    <div class="flex flex-col text-start gap-2">
      <h1 class="font-gothamBlack italic text-sm">Οι αρχές μου</h1>
      <p class="font-gothamLight text-xs">
        Σημαντικότερες για εμένα από όλες τις τεχνικές γνώσεις και
        εξειδικεύσεις, παραμένουν από την πρώτη στιγμή έως και σήμερα οι αρχές
        μου που τις μετέφερα αναλλοίωτες και στο Rehab Fighters.
      </p>
      <ul>
        <li class="flex flex-row items-start gap-3">
          <img
            src="../../../../assets/images/bullet.png"
            class="h-[15px] mt-1"
          />
          <p class="font-gothamLight text-xs">
            Ο <span class="font-gothamBlack">σεβασμός</span> και η
            <span class="font-gothamBlack">συνέπεια</span> προς εσένα που με
            εμπιστεύεσαι σε μία δύσκολη πρόκληση στη ζωή σου.
          </p>
        </li>
        <li class="flex flex-row items-start gap-3">
          <img
            src="../../../../assets/images/bullet.png"
            class="h-[15px] mt-1"
          />
          <p class="font-gothamLight text-xs">
            Η <span class="font-gothamBlack">ειλικρίνεια</span> απέναντι σου για
            οποιοδήποτε ερώτημα καλούμαι να απαντήσω.
          </p>
        </li>
        <li class="flex flex-row items-start gap-3">
          <img
            src="../../../../assets/images/bullet.png"
            class="h-[15px] mt-1"
          />
          <p class="font-gothamLight text-xs">
            Η <span class="font-gothamBlack">εμπιστοσύνη</span> μου σε όποιον
            έχει νοοτροπία μαχητή στην αντιμετώπιση των προβλημάτων του.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>
