<div class="flex flex-col items-center w-full bg-white gap-2">
  <img src="../../../assets/images/logo.svg" />
  <div class="flex flex-row gap-3">
    <img src="../../../assets/images/fb-black.svg" class="w-[30px] h-[30px]" />
    <img
      src="../../../assets/images/instagram-black.svg"
      class="w-[30px] h-[30px]"
    />
    <img
      src="../../../assets/images/viber-black.svg"
      class="w-[30px] h-[30px]"
    />
    <img
      src="../../../assets/images/whatsapp-black.svg"
      class="w-[30px] h-[30px]"
    />
  </div>
  <div class="flex flex-col gap-1">
    <h1 class="text-black font-gothamLight text-xs">
      Email:
      <a
        href="mailto:rehabfighters@gmail.com"
        class="text-accent font-gothamLight font-bold"
        >{{ "rehabfighters@gmail.com" }}</a
      >
    </h1>
    <h1 class="font-gothamLight text-xs text-black">
      Τηλέφωνο
      <a href="tel:+30-6971774787" class="text-accent underline font-bold"
        >+30-6971774787</a
      >
    </h1>
  </div>
  <h1 class="text-black text-xs py-3">
    ©2023 - All rights reserved - Rehab Fighters
  </h1>
</div>
