<div class="flex flex-col gap-10 justify-center">
  <h1 class="font-gothamBlack italic text-base text-center">
    Συχνές ερωτήσεις.
  </h1>
  <ul class="w-full sm:w-[680px]">
    <app-question title="Γιατί να επιλέξω το Rehab Fighters;">
      <p class="text-black font-gothamLight text-xs">
        Εστιάζουμε στο να σε κρατήσουμε με κάθε τρόπο κοντά στο άθλημα σου. Σε
        αντίθεση με τις κλασικές και συντηρητικές προσεγγίσεις που σε
        απομακρύνουν και συνιστούν διακοπή της προπόνησης, εμείς, επενδύουμε στη
        νοοτροπία μαχητή και σε εμπλέκουμε ενεργά στην αποκατάστασή.
      </p>
    </app-question>
    <app-question
      title="Τι να περιμένω στη πρώτη μου συνάντηση με το Rehab Fighters;"
    >
      <div>
        <p class="text-black font-gothamLight text-xs">
          Η πρώτη σου συνάντηση περιλαμβάνει:
        </p>
        <ul>
          <li class="flex flex-row items-center gap-3">
            <img src="../../../assets/images/bullet.png" class="h-[15px]" />
            <h1 class="font-gothamLight text-xs italic text-black">
              Λεπτομερή αξιολόγηση του προβλήματος σου.
            </h1>
          </li>
          <li class="flex flex-row items-center gap-3">
            <img src="../../../assets/images/bullet.png" class="h-[15px]" />
            <h1 class="font-gothamLight text-xs italic text-black">
              Συζήτηση σχετικά με το ιστορικό και του στόχους σου.
            </h1>
          </li>
        </ul>
        <p class="text-black font-gothamLight text-xs">
          Αφού να διαπιστωθεί η αιτία του το προβλήματος σου και καταλήξουμε στη
          φυσικοθεραπευτική διάγνωση στη συνέχεια ακολουθεί:
        </p>
        <ul>
          <li class="flex flex-row items-center gap-3">
            <img src="../../../assets/images/bullet.png" class="h-[15px]" />
            <h1 class="font-gothamLight text-xs italic text-black">
              Θεραπεία βασισμένη σε εξειδικευμένες θεραπευτικές μεθόδους (Manual
              Therapy, Mulligan, PNF, MLD)
            </h1>
          </li>
          <li class="flex flex-row items-center gap-3">
            <img src="../../../assets/images/bullet.png" class="h-[15px]" />
            <h1 class="font-gothamLight text-xs italic text-black">
              Σχεδιασμός εξατομικευμένου προγράμματος αποκατάστασης βασισμένο
              στην αξιολόγηση, τους στόχους και τις πραγματικές σου ανάγκες.
            </h1>
          </li>
        </ul>
      </div>
    </app-question>
    <app-question title="Τι περιλαμβάνει το πρόγραμμα αποκατάστασης;">
      <div>
        <p class="text-black font-gothamLight text-xs">
          Το πρόγραμμα αποκατάστασης προκύπτει μέσα από μια βιβλιοθήκη ασκήσεων
          που έχει δημιουργηθεί για το Rehab Fighters και περιλαμβάνει:
        </p>
        <p class="text-black font-gothamLight text-xs">
          Θεραπευτικές ασκήσεις:
        </p>
        <ul>
          <li class="flex flex-row items-center gap-3">
            <img src="../../../assets/images/bullet.png" class="h-[15px]" />
            <h1 class="font-gothamLight text-xs italic text-black">
              Κινητικότητας
            </h1>
          </li>
          <li class="flex flex-row items-center gap-3">
            <img src="../../../assets/images/bullet.png" class="h-[15px]" />
            <h1 class="font-gothamLight text-xs italic text-black">Δύναμης</h1>
          </li>
          <li class="flex flex-row items-center gap-3">
            <img src="../../../assets/images/bullet.png" class="h-[15px]" />
            <h1 class="font-gothamLight text-xs italic text-black">
              Σταθερότητας
            </h1>
          </li>
          <li class="flex flex-row items-center gap-3">
            <img src="../../../assets/images/bullet.png" class="h-[15px]" />
            <h1 class="font-gothamLight text-xs italic text-black">
              Ισορροπίας
            </h1>
          </li>
          <li class="flex flex-row items-center gap-3">
            <img src="../../../assets/images/bullet.png" class="h-[15px]" />
            <h1 class="font-gothamLight text-xs italic text-black">
              Ασκήσεις εμπνευσμένες από τα μαχητικά σπορ
            </h1>
          </li>
        </ul>
        <p class="text-black font-gothamLight text-xs">
          Συνεργαζόμαστε για να δημιουργήσουμε ένα εξατομικευμένο σχέδιο που
          ευθυγραμμίζεται με τους στόχους της αποκατάστασής σου.
        </p>
      </div>
    </app-question>
    <app-question
      title="Ποια είναι η προσέγγιση του Rehab Fighters στην αποκατάσταση
    τραυματισμών;"
    >
      <p class="text-black font-gothamLight text-xs">
        Στο Rehab Fighters, η προσέγγισή μας επικεντρώνεται στην εξατομικευμένη
        θεραπεία και στην ενεργητική συμμετοχή σου, σε συνδυασμό με την άρτια
        καθοδήγηση. Αναζητούμε τη βαθύτερη αιτία του πόνου σου και δε
        συμβιβαζόμαστε με τις προσωρινές λύσεις και τη παροδική ανακούφιση.
      </p>
    </app-question>
    <app-question
      title="Πρέπει να είμαι αθλητής των μαχητικών σπορ για να συνεργαστώ με το Rehab
    Fighters;"
    >
      <p class="text-black font-gothamLight text-xs">
        Δεν χρειάζεται να είσαι αθλητής, αρκεί μόνο να έχεις νοοτροπία μαχητή
        και διάθεση να ασχοληθείς ενεργά με τα προβλήματα σου. Εμείς θα
        προσαρμόσουμε τη θεραπεία και το πρόγραμμα αποκατάστασης ακριβώς στα
        μέτρα σου!
      </p>
    </app-question>
    <app-question
      title="Πώς μπορεί το Rehab Fighters να με βοηθήσει να ξεπεράσω τον τραυματισμό
    μου και να επιστρέψω στις προπονήσεις μου χωρίς πόνο;"
    >
      <p class="text-black font-gothamLight text-xs">
        Συνδυάζουμε την εξειδίκευσή μας στη φυσικοθεραπεία με τη βαθιά κατανόηση
        των μαχητικών αθλημάτων. Αυτό μας επιτρέπει να δημιουργούμε στοχευμένα
        προγράμματα αποκατάστασης που όχι μόνο θεραπεύουν τους τραυματισμούς σου
        αλλά και συνδέουν άμεσα την αποκατάσταση με τις απαιτήσεις του αθλήματός
        σου.
      </p>
    </app-question>
    <app-question
      title="Πρέπει να είμαι επαγγελματίας αθλητής για να συνεργαστώ με το Rehab
    Fighters;"
    >
      <p class="text-black font-gothamLight text-xs">
        Σε καμία περίπτωση! Το Rehab Fighters είναι φτιαγμένο για όσους έχουν
        νοοτροπία μαχητή και θέλουν να πάρουν την κατάσταση της υγείας στα χέρια
        τους. Είτε είσαι επαγγελματίας αθλητής είτε ερασιτέχνης, είμαστε εδώ για
        να σχεδιάσουμε την αποκατάσταση σου και να βρούμε την ιδανική διαχείριση
        για τα προβλήματα σου.
      </p>
    </app-question>
    <app-question
      title="Μπορώ να συνεχίσω να προπονούμαι στο άθλημα μου ενώ κάνω
    αποκατάσταση με το Rehab Fighters;"
    >
      <p class="text-black font-gothamLight text-xs">
        Βέβαια! Η προπόνηση είναι αναπόσπαστο μέρος της αποκατάστασης.
        Κατανοούμε το πάθος σου για το άθλημα, σε βοηθάμε να προσαρμόσεις
        κατάλληλα την προπόνηση σου και στόχος μας είναι να επιστρέψεις στην
        προπόνηση όσο το δυνατόν πιο γρήγορα και με ασφάλεια.
      </p>
    </app-question>
    <app-question
      title="Πώς μπορώ να προγραμματίσω μία συνάντηση με το Rehab Fighters;"
    >
      <div>
        <p class="text-black font-gothamLight text-xs">
          Μπορείς να προγραμματίσεις τη συνάντηση σου μέσω:
        </p>
        <ul>
          <li class="flex flex-row items-center gap-3">
            <img src="../../../assets/images/bullet.png" class="h-[15px]" />
            <h1 class="font-gothamLight text-xs italic text-black">
              Προσωπικού μηνύματος Viber, Instagram, Facebook, Whatsapp
            </h1>
          </li>
          <li class="flex flex-row items-center gap-3">
            <img src="../../../assets/images/bullet.png" class="h-[15px]" />
            <h1 class="font-gothamLight text-xs italic text-black">
              Τηλεφωνικά στο +306971774787
            </h1>
          </li>
          <li class="flex flex-row items-center gap-3">
            <img src="../../../assets/images/bullet.png" class="h-[15px]" />
            <h1 class="font-gothamLight text-xs italic text-black">
              Email: <a>{{ "rehabfighters@gmail.com" }}</a>
            </h1>
          </li>
        </ul>
        <p class="text-black font-gothamLight text-xs">
          Είμαστε εδώ για να σε βοηθήσουμε και να λύσουμε ό,τι απορία έχεις.
        </p>
      </div>
    </app-question>
  </ul>
</div>
