/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "GothamGRBlack";
  src: url("../fonts/GothamGRBlack.woff");
}
@font-face {
  font-family: "GothamGRLight";
  src: url("../fonts/GothamGRLight.otf");
}
@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
p,
a,
li {
  color: white;
}

body {
  background-color: black;
}
